<div #container>
  <app-chart
    [dimensions]="dimensions">
    <svg:g appAxis
           dimension="x"
           [dimensions]="dimensions"
           [scale]="xScale"
           [label]="label">
    </svg:g>
    <svg:g appAxis
           dimension="y"
           [dimensions]="dimensions"
           [scale]="yScale"
           [label]="label">
    </svg:g>
    <svg:g appLine
           type="area"
           [data]="data"
           [xAccessor]="xAccessorScaled"
           [yAccessor]="yAccessorScaled"
           [y0Accessor]="y0AccessorScaled">
    </svg:g>
    <svg:line
      [attr.x1]="0"
      [attr.y1]="0"
      [attr.x2]="0"
      [attr.y2]="dimensions.boundedHeight"
      [attr.stroke-width]="2"
      [attr.stroke]="'red'"
      [attr.fill]="'red'">
    </svg:line>
    <svg:g appCircles
           [data]="data"
           [keyAccessor]="keyAccessor"
           [xAccessor]="xAccessorScaled"
           [yAccessor]="yAccessorScaled"
           [colorAccessor]="colorAccessor"
           (interact)="interact.emit($event)"
    >
    </svg:g>
  </app-chart>
</div>

