.navbar-brand {
  vertical-align: middle;

  img {
    height: 32px;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    height: 32px;
    font-weight: bold;
  }

}
