.heading{
  line-height: 1.8;
  text-indent: 50px;
}

.rhr{
  line-height: 1.8;
  text-indent: 50px;

}

.hrv{
  line-height: 1.8;
  text-indent: 50px;
}

.rr{
  line-height: 1.8;
  text-indent: 50px;

}

.rt{
  line-height: 1.8;
  text-indent: 50px;
}

.even-larger-badge {
  font-size: 12px;
}
